*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.exe
files/output/code.cpp
files/output/output
files/output/output.exe
supervisor/supervisor
sftp-config.json
test.py

*.sublime-project
*.sublime-workspace
facts.db
